/* 書籍検索モーダル内の書籍検索結果を、その部分のみスクロールできるようにする */
.book-search-result{
	max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.book_card {
	margin: 10px;
	padding: 5px;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 40%;
	cursor: pointer;
}
/* 選択した本をハイライト */
.highlight {
	background-color: cyan;
}

/* マスタッシュの非表示 */
[v-cloak] {
	display: none;
}