<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/css/postquestion.css}" rel="stylesheet">

<meta charset="UTF-8">
<title>質問投稿</title>
</head>
<body>
	<div th:replace="myfragment :: my-header"></div>
	<div class="mx-5" id="vue_bookselection_el">

		<div class="modal" id="booksearch-modal">
			<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">書籍検索画面</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
					<div class="modal-body">
						<form id="booksearch" v-on:submit.prevent="getResult(keyword)">
							<input type="text" id="keyword" v-model="keyword">
							<button type="submit">検索</button>
						</form>

						<div class="container book_wrapper" v-for="item in items"
							:key="item.isbn13">
							<div class="book_card" @click="selectBook(item)"
								:class="{'highlight': (item.isbn13 == selectedBook.isbn13)}">
								<div class="row">
									<div class="col-md-4">
										<img class="card-img" v-bind:src="item.thumbnail">
									</div>
									<div class="col-md-8">{{item.title}}</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">保存する</button>
					</div>
				</div>
			</div>
		</div>
		<form th:action="@{/postquestion}" th:object="${question}"
			method="post" novalidate>
			<div class="book_card form-group mb-3 float-none">
				<div class="row mx-auto">
					<div class="col-md-4">
						<img class="card-img" v-bind:src="selectedBook.thumbnail">
					</div>
					<div class="col-md-8">{{selectedBook.title}}</div>
				</div>
				<button type="button" class="btn btn-primary mx-auto" data-bs-toggle="modal"
					data-bs-target="#booksearch-modal">書籍を選択</button>
			</div>

			<div class="d-none">
				<label for="isbn"> ISBN </label> <input type="text"
					th:errorclass="is-invalid" th:field="*{isbn}"
					v-model="selectedBook.isbn13">
				<div th:errors="*{isbn}"></div>
			</div>

			<div class="form-group mb-3 float-none">
				<label class="form-label" for="content"> 質問内容 </label>
				<textarea class="form-control" th:errorclass="is-invalid"
					th:field="*{content}"></textarea>
				<div th:errors="*{content}"></div>
			</div>
			<button type="submit">質問を投稿する</button>
		</form>

	</div>



	<script src="webjars/bootstrap/js/bootstrap.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script type="text/javascript" th:src="@{/js/bookSelection.js}"></script>
</body>
</html>