<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/css/bookSelection.css}" rel="stylesheet">
<meta charset="UTF-8">
<title>質問閲覧</title>
</head>
<body>
	<div th:replace="myfragment :: my-header"></div>
	<div class="mx-5" id="vue_bookselection_el" v-cloak>
		<div th:replace="myfragment :: book-search-modal"></div>

		<form th:action="@{/searchquestion/search}" method="get">
			<div class="containter">
				<div class="row align-items-center">
					<div class="col-3">
						<div th:replace="myfragment :: book-search-select"></div>
						<div class="d-none">
							<label for="isbn"> ISBN </label> <input type="text" name="isbn"
								id="isbn" v-model="selectedBook.isbn13">
						</div>
					</div>
					<div class="col-4">
						<label class="form-label" for="questionKeyword">質問内容</label> <input
							class="form-control" type="text" name="questionKeyword"
							id="questionKeyword">
					</div>
					<div class="col-4">
						<button class="btn btn-primary">検索</button>
					</div>

				</div>
			</div>
		</form>

		<table class="table">
			<thead>
				<tr>
					<th>ユーザーID</th>
					<th>ISBN</th>
					<th>質問内容</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="question : ${questions}">
					<td th:text="${question.userid}"></td>
					<td th:text="${question.isbn}"></td>
					<td th:text="${question.content}"></td>
				</tr>
			</tbody>
		</table>



	</div>

	<script src="webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script type="text/javascript" th:src="@{/js/bookSelection.js}"></script>
</body>
</html>